*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}
.user-select-none{
    user-select: none;
}
.user-select-all{
    user-select: all;
}
.user-select-text{
    user-select: text;
}
.user-select-auto{
    user-select: auto;
}
.m-0{
    margin: 0;
}
.p-0{
    padding: 0;
}
.w-full{
    width: 100%;
}
.h-full{
    height: 100%;
}
.w-\[100px\]{
    width: 100px;
}
.h-\[100px\]{
    height: 100px;
}
.bg-red-500{
    background-color: red;
}
