* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.flex-col-reverse {
    flex-direction: column-reverse;
}

.justify-start {
    justify-content: flex-start;
}

.justify-end {
    justify-content: flex-end;
}

.justify-center {
    justify-content: center;
}

.items-center {
    align-items: center;
}

.items-start {
    align-items: flex-start;
}

.items-end {
    align-items: flex-end;
}

.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

.fixed {
    position: fixed;
}

.inherit {
    position: inherit;
}

.static {
    position: static;
}

.unset {
    position: unset;
}

.initial {
    position: initial;
}

.sticky {
    position: sticky;
}

.btn{
    padding: 8px 15px;
    border-radius: 6px;
    border: none;
    font-size: 1.1rem;
    font-family: sans-serif;
    background: transparent;
}
.btn-lg{
    padding: 13px 20px;
    border-radius: 10px;
    border: none;
    font-size: 1.3rem;
    font-family: sans-serif;
    background: transparent;
}
.btn-success{
    background-color: #157347;
    color: white;
    transition: 0.3s ease;
    cursor: pointer;
}
.btn-success:hover{
    background-color: rgb(8, 81, 8);
}
.btn-outline-success{
    background-color: transparent;
    border: 2px solid #157347;
    color: #157347;
    cursor: pointer;
    transition: 0.3s ease;
    position: relative;
    overflow: hidden;
}
.btn-outline-success::before{
    content: '';
    width: 100%;
    height: 100%;
    background-color: #157347;
    position: absolute;
    z-index: -1;
    top: 0;
    left: -100%;
    transition: 0.3s ease;
}
.btn-outline-success:hover::before{
    left: 0;
}
.btn-outline-success:hover{
    color: white;
}
.btn-danger{
    background-color: #BB2D3B;
    color: white;
    cursor: pointer;
    transition: 0.3s ease;
}
.btn-danger:hover{
    background-color: #94242f;
}
.btn-outline-danger{
    background-color: transparent;
    border: 2px solid #BB2D3B;
    color: #BB2D3B;
    cursor: pointer;
    transition: 0.3s ease;
    position: relative;
    overflow: hidden;
}
.btn-outline-danger::before{
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: #BB2D3B;
    transition: 0.3s ease;
}
.btn-outline-danger:hover::before{
    left: 0;
}
.btn-outline-danger:hover{
    color: white;
}
.btn-primary{
    background-color: #0B5ED7;
    color: white;
    cursor: pointer;
    transition: 0.3s ease;
}
.btn-primary:hover{
    background-color: #093f90;
}
.btn-outline-primary{
    background-color: transparent;
    border: 2px solid #093f90;
    color: #093f90;
    cursor: pointer;
    transition: 0.3s ease;
    position: relative;
    overflow: hidden;
}
.btn-outline-primary::before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    top: 0;
    left: -100%;
    background-color: #093f90;
    transition: 0.3s ease;
}
.btn-outline-primary:hover{
    color: white;
}
.btn-outline-primary:hover::before{
    left: 0;
}
.btn-secondary{
    background-color: #6C757D;
    color: white;
    cursor: pointer;
    transition: 0.3s ease;
}
.btn-secondary:hover{
    background-color: #565c62;
}
.btn-outline-secondary{
    background-color: transparent;
    border: 2px solid #6C757D;
    color: #6C757D;
    cursor: pointer;
    transition: 0.3s ease;
    position: relative;
    overflow: hidden;
}
.btn-outline-secondary::before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    top: 0;
    left: -100%;
    background-color: #6C757D;
    transition: 0.3s ease;
}
.btn-outline-secondary:hover{
    color: white;
}
.btn-outline-secondary:hover::before{
    left: 0;
}
.btn-warning{
    background-color: #FFC107;
    color: white;
    cursor: pointer;
    transition: 0.3s ease;
}
.btn-warning:hover{
    background-color: #cd9c07;
}
.btn-outline-warning{
    background-color: transparent;
    border: 2px solid #cd9c07;
    color: #cd9c07;
    cursor: pointer;
    transition: 0.3s ease;
    position: relative;
    overflow: hidden;
}
.btn-outline-warning::before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -100%;
    z-index: -1;
    background-color: #cd9c07;
    transition: 0.3s ease;
}
.btn-outline-warning:hover{
    color: white;
}
.btn-outline-warning:hover::before{
    left: 0;
}
.btn-info{
    background-color: #0DCAF0;
    color: white;
    cursor: pointer;
    transition: 0.3s ease;
}
.btn-info:hover{
    background-color: #0aa2c1;
}
.btn-outline-info{
    background-color: transparent;
    border: 2px solid #0DCAF0;
    color: #0DCAF0;
    cursor: pointer;
    transition: 0.3s ease;
    position: relative;
    overflow: hidden;
}
.btn-outline-info::before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -100%;
    z-index: -1;
    background-color: #0DCAF0;
    transition: 0.3s ease;
}
.btn-outline-info:hover{
    color: white;
}
.btn-outline-info:hover::before{
    left: 0;
}
.btn-dark{
    background-color: #111;
    color: white;
    cursor: pointer;
    transition: 0.3s ease;
}
.btn-outline-dark{
    background-color: transparent;
    border: 2px solid #000;
    color: #000;
    cursor: pointer;
    transition: 0.3s ease;
    position: relative;
    overflow: hidden;
}
.btn-outline-dark::before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -100%;
    z-index: -1;
    background-color: #000;
    transition: 0.3s ease;
}
.btn-outline-dark:hover{
    color: white;
}
.btn-outline-dark:hover::before{
    left: 0;
}
.btn-light{
    background-color: white;
    color: black;
    cursor: pointer;
    transition: 0.3s ease;
}
.btn-light:hover{
    background-color: rgb(181, 180, 180);
}
.btn-outline-light{
    background-color: transparent;
    color: white;
    border: 2px solid white;
    cursor: pointer;
    transition: 0.3s ease;
    overflow: hidden;
    position: relative;
}
.btn-outline-light::before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    top: 0;
    left: -100%;
    background-color: white;
    transition: 0.3s ease;
}
.btn-outline-light:hover{
    color: black;
}
.btn-outline-light:hover::before{
    left: 0;
}

.btn-spread-success{
    position: relative;
    padding-right: 26px;
    padding-left: 26px;
    border: none;
    outline: 2px solid #157347;
    color: #157347;
    overflow: hidden;
    cursor: pointer;
}
.btn-spread-success::after{
    content: '';
    width: 10px;
    height: 10px;
    background: #157347;
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translate(0%,-50%);
    border-radius: 50%;
    z-index: -1;
    transition: 0.4s ease;
}
.btn-spread-success:hover::after{
    border-radius: 0%;
    width: 100%;
    height: 100%;
    right: 0%;
}
.btn-spread-success:hover{
    color: white;
}


.btn-spread-primary{
    position: relative;
    padding-right: 26px;
    padding-left: 26px;
    border: none;
    outline: 2px solid #0B5ED7;
    color: #0B5ED7;
    overflow: hidden;
    cursor: pointer;
}
.btn-spread-primary::after{
    content: '';
    width: 10px;
    height: 10px;
    background: #0B5ED7;
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translate(0%,-50%);
    border-radius: 50%;
    z-index: -1;
    transition: 0.4s ease;
}
.btn-spread-primary:hover::after{
    border-radius: 0%;
    width: 100%;
    height: 100%;
    right: 0%;
}
.btn-spread-primary:hover{
    color: white;
}


.btn-spread-secondary{
    position: relative;
    padding-right: 26px;
    padding-left: 26px;
    border: none;
    outline: 2px solid #6C757D;
    color: #6C757D;
    overflow: hidden;
    cursor: pointer;
}
.btn-spread-secondary::after{
    content: '';
    width: 10px;
    height: 10px;
    background: #6C757D;
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translate(0%,-50%);
    border-radius: 50%;
    z-index: -1;
    transition: 0.4s ease;
}
.btn-spread-secondary:hover::after{
    border-radius: 0%;
    width: 100%;
    height: 100%;
    right: 0%;
}
.btn-spread-secondary:hover{
    color: white;
}


.btn-spread-warning{
    position: relative;
    padding-right: 26px;
    padding-left: 26px;
    border: none;
    outline: 2px solid #FFC107;
    color: #FFC107;
    overflow: hidden;
    cursor: pointer;
}
.btn-spread-warning::after{
    content: '';
    width: 10px;
    height: 10px;
    background: #FFC107;
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translate(0%,-50%);
    border-radius: 50%;
    z-index: -1;
    transition: 0.4s ease;
}
.btn-spread-warning:hover::after{
    border-radius: 0%;
    width: 100%;
    height: 100%;
    right: 0%;
}
.btn-spread-warning:hover{
    color: white;
}


.btn-spread-info{
    position: relative;
    padding-right: 26px;
    padding-left: 26px;
    border: none;
    outline: 2px solid #0DCAF0;
    color: #0DCAF0;
    overflow: hidden;
    cursor: pointer;
}
.btn-spread-info::after{
    content: '';
    width: 10px;
    height: 10px;
    background: #0DCAF0;
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translate(0%,-50%);
    border-radius: 50%;
    z-index: -1;
    transition: 0.4s ease;
}
.btn-spread-info:hover::after{
    border-radius: 0%;
    width: 100%;
    height: 100%;
    right: 0%;
}
.btn-spread-info:hover{
    color: white;
}


.btn-spread-danger{
    position: relative;
    padding-right: 26px;
    padding-left: 26px;
    border: none;
    outline: 2px solid #BB2D3B;
    color: #BB2D3B;
    overflow: hidden;
    cursor: pointer;
}
.btn-spread-danger::after{
    content: '';
    width: 10px;
    height: 10px;
    background: #BB2D3B;
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translate(0%,-50%);
    border-radius: 50%;
    z-index: -1;
    transition: 0.4s ease;
}
.btn-spread-danger:hover::after{
    border-radius: 0%;
    width: 100%;
    height: 100%;
    right: 0%;
}
.btn-spread-danger:hover{
    color: white;
}


.btn-spread-dark{
    position: relative;
    padding-right: 26px;
    padding-left: 26px;
    border: none;
    outline: 2px solid #111;
    color: #111;
    overflow: hidden;
    cursor: pointer;
}
.btn-spread-dark::after{
    content: '';
    width: 10px;
    height: 10px;
    background: #111;
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translate(0%,-50%);
    border-radius: 50%;
    z-index: -1;
    transition: 0.4s ease;
}
.btn-spread-dark:hover::after{
    border-radius: 0%;
    width: 100%;
    height: 100%;
    right: 0%;
}
.btn-spread-dark:hover{
    color: white;
}


.btn-spread-light{
    position: relative;
    padding-right: 26px;
    padding-left: 26px;
    border: none;
    outline: 2px solid #fff;
    color: #fff;
    overflow: hidden;
    cursor: pointer;
}
.btn-spread-light::after{
    content: '';
    width: 10px;
    height: 10px;
    background: #fff;
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translate(0%,-50%);
    border-radius: 50%;
    z-index: -1;
    transition: 0.4s ease;
}
.btn-spread-light:hover::after{
    border-radius: 0%;
    width: 100%;
    height: 100%;
    right: 0%;
}
.btn-spread-light:hover{
    color: #000;
}